In [1]:
import pandas as pd
import json

# Question 1:

In [2]:
# Create csv file (Name, Id ,GPA)
# Read the csv file 
# Store the GPA in list ---> Make it alone another Table
# GPA = [] For the student
# Calculate the average of GPA
# Read the information of new-student of it  ----> input fron the user 
#Insert new GPA in 3rd place in the list [1,2,3,4] --> Number 3 make it new

In [3]:
df=pd.read_csv("Exercise.csv")
df

    Id   Name  GPA
0  123  Ahmed  3.2
1  456    Ali  4.2
2  789  Hamed  1.2

In [4]:
# Store:
df['GPA']

0    3.2
1    4.2
2    1.2
Name: GPA, dtype: float64

In [5]:
# Make it parmently:
New = df['GPA']
print(New)
#It is dataframe

0    3.2
1    4.2
2    1.2
Name: GPA, dtype: float64

In [6]:
#It is list
Newdf=New.tolist()
Newdf

[3.2, 4.2, 1.2]

In [7]:
# Average:
sum(Newdf)

8.6

In [8]:
len(Newdf)

3

In [9]:
# The Average of the GPA:
new=sum(Newdf)/len(Newdf)
new

2.8666666666666667

In [10]:
#Input for new student:
New_ID = int(input("Enter new student ID: "))
New_Name = input("Enter new student NAME: ")
New_GPA = float(input("Enter new student GPA: "))

Enter new student ID: 22
Enter new student NAME: rahaf
Enter new student GPA: 4.7

In [11]:
# Insert new data in 3rd place in the list from the New_gpa
Newdf.insert(2,New_GPA)
Newdf

[3.2, 4.2, 4.7, 1.2]

In [12]:
Newdf
index_to_delete = 2 
del Newdf[index_to_delete]
print(Newdf)

[3.2, 4.2, 1.2]

# Question 2:

In [13]:
# Read JSON file :
# Download json file --->json file example  [Country name , Population]
# Read it using python 
# Add item 
# Input new thing AND inserted in json file 
# After making Country
# Delete one country 
# Make a website that can add and delete
# And if it is not there send message that is empty nothing

In [ ]:
#Note:
    'r' --> read model
    'w'--> write model
    'dump'--> used to convert python sturctures into json format

In [14]:
# Read json file:

with open('json.json', 'r') as Exercise1:
    js = json.load(Exercise1)

js

[{'country': 'Australia', 'population': 24982688},
 {'country': 'Bahrain', 'population': 1569439},
 {'country': 'China', 'population': 1392730000},
 {'country': 'Egypt', 'population': 98423595},
 {'country': 'Qatar', 'population': 2781677},
 {'country': 'Maldives', 'population': 515696},
 {'country': 'Maldives', 'population': 515696},
 {'country': 'Maldives', 'population': 515696},
 {'country': 'Maldives', 'population': 515696}]

In [15]:
# Add new item:
New_Country = {
        "country": "Maldives",
        "population": 515696
}
    
js.append(New_Country)
with open('json.json', 'w') as Exercise1:
    json.dump(js,Exercise1)

print(js)

[{'country': 'Australia', 'population': 24982688}, {'country': 'Bahrain', 'population': 1569439}, {'country': 'China', 'population': 1392730000}, {'country': 'Egypt', 'population': 98423595}, {'country': 'Qatar', 'population': 2781677}, {'country': 'Maldives', 'population': 515696}, {'country': 'Maldives', 'population': 515696}, {'country': 'Maldives', 'population': 515696}, {'country': 'Maldives', 'population': 515696}, {'country': 'Maldives', 'population': 515696}]

In [3]:
# Let the user enter what he what:
# User enter new country
Newcountry = input("Enter the name of a new country: ")
Newpopulation = input("What is the number of the population of the country: ")

Enter the name of a new country: Oman
What is the number of the population of the country: 8474858

In [ ]:
# Add user new country
New_Country = {
    "country": Newcountry,
    "population": Newpopulation
}

js.append(New_Country)

# insert new country to json file
with open('Exercise1.json', 'w') as Exercise1:
    json.dump(js, Exercise1)

print(js)

In [ ]:
Deleted_Country = int(input("Enter the country that you what to delete: "))
deleted_item = data["js"].pop(Deleted_Country)
print(js)

    # Save modified JSON data
with open('Exercise1.json', 'w') as Exercise1:
        json.dump(js, Exercise1, indent=4)  
    
if Countryfound:
    with open('Exercise1.json', 'w') as Exercise1:
        json.dump(js, Exercise1)
    print(f"{Deleted_Country}' deleted from the JSON data.")
else:
    print(f"{Deleted_Country}' not found in the JSON data.")